
    <link rel="stylesheet" href="/css/style.css">
    <a href="/upload">upload</a>
    <a href="/benis">benis</a>
    <div id="pix">
{{# each ok}}
<a href={{this}} id="picBox">
<img src={{this}}  alt="" />{{this}}
</a>
{{/each}}
</div>