<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
	<script src="https://code.jquery.com/jquery.js"></script>
      <script type="text/javascript" src="jquery.lazy.min.js"></script>


<link rel="stylesheet" href="/css/style.css">


</head>

<body>

    {{{body}}}


<script src="index.js"></script>
</body>

</html>
