<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    MuhWalls 2
  </title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="/toastr.css" />

  <script src="/toastr.js"></script>

  <script type="text/javascript" src="/jquery.lazy.min.js"></script>


  {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>

</head>

<body>

  {{{body}}}


  <script src="/index.js"></script>
</body>

</html>