<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    MuhWalls 2
  </title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="toastr.css" />

  <script src="toastr.js"></script>

  <script type="text/javascript" src="jquery.lazy.min.js"></script>


  <link rel="stylesheet" href="css/style.css">


</head>

<body>

  {{{body}}}


  <script src="index.js"></script>
</body>

</html>