

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

img{
    height: 100%;
    width: 100%;
}


.navLinks{
    padding: 1.5vw;
    font-size: 35px;
}

#upPic{
  height: 50%;
  width: 50%;
}


.dropbtn {
  padding-top: 1vw;
    -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    background-color: pink;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: lightpink;
  }
  
  .dropdown {
    -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    min-width: 160px;
    overflow: auto;
    -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
  }
  
  .dropdown a:hover {  background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);}
  
  .show {display: block;}

#pix{
    margin: .5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    align-items: flex-start;
   
}

@media (max-width: 768px) {
    #pix {
background-color: #000;
    }

  }



#picBox{
    position: relative;
height: 29vw;
width: 46.5vw;
    -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    align-items: center;
    padding-bottom:8vw;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    word-wrap: break-word;
    font-size: 1.5vw;
    text-align: center;
    
}

@media (max-width: 1200px) {
#picBox {
    color: wheat;
    height: 50vw;
    width: 100vw;
    margin: 0;
    padding: 2em 2em 6em 2em;
    font-size: 3.5vw;
  }
}

@media (min-width: 2100px) {
    #picBox {
        position: relative;
        height: 7vw;
        width: 11vw;
            -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
            -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
            box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
            align-items: center;
            padding-bottom:8vw;
            margin-left: 1em;
            margin-top: 1em;
            margin-bottom: 1em;
            word-wrap: break-word;
            font-size: .75vw;
      }

      
    }



#keywords{    
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
  -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
  box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
  align-items: flex-start;
  font-size: 1vw;
  list-style: none;
  overflow: hidden;
}

@media (min-width: 2100px) {
  #keywords{    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    align-items: flex-start;
    font-size: .6vw;
    list-style: none;
    overflow: hidden;
  }
}



#keywords>li{
  padding: .5vw;
}

@media (min-width: 2100px) {
  #keywords>li{
     padding: .2vw;
  }
}

#fileChooseButt{
    font-size: 50px;

    background: #454C87;
    color: wheat;
}
#upladButt{
    font-size: 50px;

    background: #000;
    color: wheat;
}

#upload {
    float: right;
    font-size: 45px;
}


#upladContainer{
    font-size: 50px;
    
    margin: 30vw 10vw 40vw 10vw;
    position: relative;
    text-align: center;
    align-items: center;
    align-content: center;
}

#buttBox{
    background: green;
}