body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

img{
    height: 100%;
    width: 100%;
}



#pix{
    margin: .5em;
    display: flex;
    -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    align-items: flex-start;
background: green;
   
}

@media (max-width: 768px) {
    #pix {
background-color: #000;
    }

  }



#picBox{
    position: relative;
height: 20vw;
width: 30vw;
    -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    align-items: center;
    padding-bottom:8vw;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    word-wrap: break-word;
    font-size: 1.5vw;
    
}

@media (max-width: 768px) {
#picBox {
    height: 50vw;
    width: 100vw;
    margin: 0;
    padding: 2em 2em 6em 2em;
    font-size: 3.5vw;
  }
}
#fileChooseButt{
    font-size: 50px;

    background: #454C87;
    color: wheat;
}
#upladButt{
    font-size: 50px;

    background: #000;
    color: wheat;
}



#upladContainer{
    font-size: 50px;
    
    margin: 30vw 10vw 40vw 10vw;
    position: relative;
    text-align: center;
    align-items: center;
    align-content: center;
}

#buttBox{
    background: green;
}